@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@100;300;400&family=League+Spartan:wght@100..900&family=Martian+Mono:wght@100..800&family=Noto+Serif:ital,wght@1,100;1,400;1,500&family=Open+Sans:wght@300;400;500;700&family=Raleway:wght@100;300;400;700&display=swap');
@import "tailwindcss";


@theme {
    --font-league: "league spartan", sans-serif; 
  }

  .short-border-bottom {
    position: relative;
  }
  
  .short-border-bottom::after {
    content: '';
    display: block;
    height: 1px;
    width: 3rem; 
    background-color: #9e7f66;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .short-border-bottom::after {
      width: 3.5rem; 
    }
  }

.error-message {
  color: #f56565;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

input.border-red-500,
select.border-red-500 {
  border-color: #f56565;
}